* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif
}

:root {
    --bgcolor: #ffffff;
    --textcolor: #3f3f3f;
    --main-color: #00fff2;
}
html {
    font-size: 20px;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background-color: var(--bgcolor);
    color: var(--textcolor);
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
nav{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgb(233, 233, 233);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
}
.navbar ul{ 
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: var(--textcolor);
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    text-align: center;
}
.navbar a:hover{
    background-color: var(--main-color);
    color: var(--bgcolor);
}

.navbar li{
    height: 50px;

}

.logo{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.about{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

